<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Customer API Suite">
    <test name="CRUD Tests">
        <classes>
            <class name="customers.CustomerPOST"/>
            <class name="customers.CustomerGET"/>
            <class name="customers.CustomerPUT"/>
            <class name="customers.CustomerPATCH"/>
            <class name="CustomerSchemaValidation"/>
            <class name="customers.CustomerDEL"/>
        </classes>
    </test>
</suite>